<%- include('./partials/header.ejs') %>
<body class="h-full "> <!-- Décor arrière-plan -->
    <div aria-hidden="true" class="pointer-events-none fixed inset-0 overflow-hidden">
      <div class="absolute -top-40 -left-40 h-80 w-80 rounded-full bg-brand-300/30 blur-3xl"></div>
      <div class="absolute -bottom-40 -right-40 h-96 w-96 rounded-full bg-brand-500/20 blur-3xl"></div>
    </div>

    <main class="relative z-10 min-h-full flex items-center justify-center p-4 sm:p-6 bg-gradient-to-br from-brand-50 via-white to-brand-100">
      <section id="configuration" class="mt-8 mb-16 p-6 rounded-2xl bg-white shadow-soft">
        <h2 class="text-2xl font-semibold">Configuration du logement</h2>
        <p class="mt-1 text-sm opacity-80">Renseignez les tarifs, la taxe, la capacité, ajoutez des photos, la description, les règles, et gérez les listes d'équipements et de jeux.</p>
  
        <form action="/heart" method="post" id="configForm" class="mt-6 grid grid-cols-1 lg:grid-cols-2 gap-5" enctype="multipart/form-data">
          <!-- Colonne A -->
          <div class="space-y-5">
            <%- include('./partials/heart/tarifs.ejs') %>
            <%- include('./partials/heart/extras.ejs') %>
            <%- include('./partials/heart/photos.ejs') %>
          </div>
  
          <!-- Colonne B -->
          <div class="space-y-5">
            <div>
              <h3 class="font-semibold mb-2">Description</h3>
              <textarea id="cfg_description" rows="5" class="w-full rounded-lg border px-3 py-2" placeholder="Décrivez l'espace, la disposition, les points forts, etc." value="<%= config.max_guests %>" value="<%= config.description %>"></textarea>
            </div>
            <div>
              <h3 class="font-semibold mb-2">Règles du logement</h3>
              <textarea id="cfg_rules" rows="5" class="w-full rounded-lg border px-3 py-2" placeholder="Ex. non-fumeur, pas de fêtes, horaires de calme, etc." value="<%= config.rules %>"></textarea>
            </div>
  
            <div>
              <h3 class="font-semibold mb-2">Équipements</h3>
              <textarea id="cfg_equip" rows="5" class="w-full rounded-lg border px-3 py-2" placeholder="Ex. non-fumeur, pas de fêtes, horaires de calme, etc." value="<%= config.equipments %>"></textarea>
            </div>
  
            <div>
              <h3 class="font-semibold mb-2">Jeux de société</h3>
              <textarea id="cfg_games" rows="5" class="w-full rounded-lg border px-3 py-2" placeholder="Ex. monopolydeal, qqwixx." value="<%= config.games %>"></textarea>
            </div>
          </div>
          <button type="submit" class="rounded-xl bg-cyan-600 text-white px-4 py-3 font-medium hover:bg-cyan-700 active:scale-[.99]">Enregistrer</button>
        </form>
      </section>
      <%- include('./partials/footer.ejs') %>
    </main>
</body>
</html>